.navigation {
    max-width: 700px;
    padding: 10px;
    margin: 20px auto;
}

.navigation__link {
    text-align: left;
    display: inline-block;
    border-radius: 10px;
    padding: 5px;
    margin: 5px auto;
    font-family: 'Lato', sans-serif;
}
.navigation__linkAspect:hover{
    background-color: rgb(83, 82, 82);
}

.navigation__linkAspect {
    color: whitesmoke;
    background-color: grey;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px auto;
    padding: 10px;
    line-height: 2;
    font-size: 11px;
    font-family: 'Lato', sans-serif;
}